.App {
  text-align: center;
}


body{
  background-color:black;
}

.inputclass{
  padding: 8px 10px 10px 7px;
  width: 50%;
  color: #000;
  font-size: inherit;
  background: #fff;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  line-height: 1.4;
  position:absolute;
  margin-left: -26%;
  margin-top: 4%;
}

.inputclass:focus{
  outline: none;
  border-bottom: 3px solid skyblue;
}


.buttonclass{
  width: 25%;
  height: 10%;
  margin-top: 15%;
  position: absolute;
  margin-left: -15%;
  background-color:#fb641b;
  font-family: Roboto,Arial,sans-serif;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border: none;
}

.bstyle{
  width: 50%;
  height: 70%;
  position: absolute;
  background-color: white;
  margin-top: 8%;
  margin-left: 25%;
};


